{% include 'header.twig' %}

 <br>  <div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><p class="breadcrumbs">You are currently on: <strong>FAQ</strong></p></div>
        <div class="col-sm-4"></div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row "><div class="col-sm-12">
    <ul class="nav nav-tabs faq-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#faq1" aria-controls="faq1" role="tab" data-toggle="tab" aria-expanded="true"><span class="faq-icon"><i class="far fa-question"></i></span> What is Partial status?</a></li>
        <li role="presentation" class=""><a href="#faq2" aria-controls="faq2" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> What is Drip Feed?</a></li>
        <li role="presentation" class=""><a href="#faq3" aria-controls="faq3" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> How do I use mass order?</a></li>
        <li role="presentation" class=""><a href="#faq4" aria-controls="faq4" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> I want a panel like yours / I want to resell your services how?</a></li>
    <li role="presentation"><a href="#faq5" aria-controls="faq5" role="tab" data-toggle="tab"><span class="faq-icon"><i class="far fa-question"></i></span> Cancel button / Refill button is not working for me? </a></li>
    <li role="presentation" class=""><a href="#faq6" aria-controls="faq6" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> Can i get a discount?</a></li>
    <li role="presentation" class=""><a href="#faq7" aria-controls="faq7" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> When can you activate my paypal?</a></li>
    <li role="presentation" class=""><a href="#faq8" aria-controls="faq8" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> Does drip feed work with mass order / or with API?</a></li>
    <li role="presentation" class=""><a href="#faq9" aria-controls="faq9" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> Do you accept Credit Card Payments?</a></li>
    <li role="presentation" class=""><a href="#faq10" aria-controls="faq10" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> How to get youtube comment link?</a></li>
    <li role="presentation" class=""><a href="#faq11" aria-controls="faq11" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> Which youtube view service can be used with monetizable video?</a></li>
    <li role="presentation" class=""><a href="#faq12" aria-controls="faq12" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> What is "Instagram mentions", how do you use it?</a></li>
    <li role="presentation" class=""><a href="#faq13" aria-controls="faq13" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> What is "Instagram impressions"?</a></li>
    <li role="presentation" class=""><a href="#faq14" aria-controls="faq14" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> The link must be added before the user goes live or after?</a></li>
    <li role="presentation" class=""><a href="#faq15" aria-controls="faq15" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> How much time does my order need to complete?</a></li>
    <li role="presentation" class=""><a href="#faq16" aria-controls="faq16" role="tab" data-toggle="tab" aria-expanded="false"><span class="faq-icon"><i class="far fa-question"></i></span> What is "Instagram Saves", and what does it do?</a></li>
    </ul>
<div class="input-group faq-selector visible-xs">
  <span class="input-group-addon"><i class="far fa-question"></i></span>
  <select class="form-control " id="tab_selector">
        <option value="0">What is Partial status?</option>
        <option value="1">What is Drip Feed?</option>
        <option value="2">How do I use mass order?</option>
        <option value="3">I want a panel like yours / I want to resell your services how?</option>
        <option value="4">Cancel button / Refill button is not working for me? </option>
        <option value="5">Can i get a discount?</option>
        <option value="6">When can you activate my paypal?</option>
        <option value="7">Does drip feed work with mass order / or with API?</option>
        <option value="8">Do you accept Credit Card Payments?</option>
        <option value="9">How to get youtube comment link?</option>
        <option value="10">Which youtube view service can be used with monetizable video?</option>
        <option value="11">What is "Instagram mentions", how do you use it?</option>
        <option value="12">What is "Instagram impressions"?</option>
        <option value="13">The link must be added before the user goes live or after?</option>
        <option value="14">How much time does my order need to complete?</option>
        <option value="15">What is "Instagram Saves", and what does it do?</option>
    </select>
</div>
    </div>
    <div class="col-sm-12">
    <div class="tab-content faq-cont">
        <div role="tabpanel" class="tab-pane active" id="faq1">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>What is Partial status?</h4>
          <p>Partial Status is when we partially refund the remains of an order. Sometimes for some reasons we are unable to deliver a full order, so we refund you the remaining undelivered amount.<br>Example: You bought an order with quantity 10 000 and charges 10$, let's say we delivered 9 000 and the remaining 1 000 we couldn't deliver, then we will "Partial" the order and refund you the remaining 1 000 (1$ in this example).</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq2">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>What is Drip Feed?</h4>
          <p>Drip Feed is a service that we are offering so you would be able to put the same order multiple times automatically.<br>Example: let's say you want to get 1000 likes on your Instagram Post but you want to get 100 likes each 30 minutes, you will put<br>Link: Your Post Link<br>Quantity: 100 <br>Runs: 10 (as you want to run this order 10 times, if you want to get 2000 likes, you will run it 20 times, etc…) <br>Interval: 30 (because you want to get 100 likes on your post each 30 minutes, if you want each hour, you will put 60 because the time is in minutes)<br>P.S: Never order more quantity than the maximum which is written on the service name (Quantity x Runs), <br>Example if the service's max is 4000, you don’t put Quantity: 500 and Run: 10, because total quantity will be 500x10 = 5000 which is bigger than the service max (4000).<br>Also never put the Interval below the actual start time (some services need 60 minutes to start, don’t put Interval less than the service start time or it will cause a fail in your order).</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq3">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>How do I use mass order?</h4>
          <p>You put the service ID followed by | followed by the link followed by | followed by quantity on each line To get the service ID of a service please check here:</p> <a href="/services">{{ site['url'] }}/services</a>
<p>Let’s say you want to use the Mass Order to add Instagram Followers to your 3 accounts: abcd, asdf, qwer</p>
<p>From the Services List the service ID for this service “<strong>[Instagram Followers [100% Real - 30 Days Guarantee- NEW SERVICE</strong>” is 3740</p>
<p>Let’s say you want to add 1000 followers for each account, the output will be like this:
  ID|Link|Quantity</p>
          <p>or in this example:</p>
          <p>
          	3740|abcd|1000<br>
          	3740|asdf|1000<br>
          	3740|qwer|1000<br>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq4">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>I want a panel like yours / I want to resell your services how?</h4>
          <p>To get a panel like ours, please check <a href="/child-panels">{{ site['url'] }}/child-panels</a> to rent a panel, and then you can connect to us via API easily!</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq5">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>Cancel button / Refill button is not working for me?</h4>
          <p>The cancel or refill button sends a trigger to cancel or refill an order, it doesn't work instantly, it's just a trigger, sometimes it's too late to stop an order, and sometimes an order might not need refill.</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq6">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>Can i get a discount?</h4>
          <p>Yes, you can it all depends on your Account Status.</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq7">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>When can you activate my paypal?</h4>
          <p>PayPal is only Active for users who spent 250 USD and More.if you already spent that much and you cant see it please contact us via: <a href="/tickets">Tickets</a>.</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq8">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>Does drip feed work with mass order / or with API?</h4>
          <p>Drip Feed doesn't work with neither "Mass Order" nor API.</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq9">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>Do you accept Credit Card Payments?</h4>
          <p>Yes, we do accept Credit Card Payments, If you can't see it in add funds page please contact via <a href="{{ site['url'] }}">tickets</a>.</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq10">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>How to get youtube comment link?</h4>
          <p>Find the timestamp that is located next to your username above your comment (for example: "3 days ago") and hover over it then right click and "Copy Link Address". <br>The link will be something like this: https://www.youtube.com/watch?v=12345&amp;lc=a1b21etc instead of just https://www.youtube.com/watch?v=12345<br>To be sure that you got the correct link, paste it in your browser's address bar and you will see that the comment is now the first one below the video and it says "Highlighted comment".</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq11">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>Which youtube view service can be used with monetizable video?</h4>
          <p>The one that has "Monetized" in its service' name.</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq12">
          <div class="faq-cont-icon"><i class="far fa-question"></i></div>
          <h4>What is "Instagram mentions", how do you use it?</h4>
          <p>Instagram Mention is when you mention someone on Instagram (example @abcde this means you have mentioned abcde under this post and abcde will receive a notification to check the post).<br>Basically the Instagram Mentions [User Followers], you put the link of your post, and the username of the person that you want us to mention HIS FOLLOWERS!</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq13">
            <div class="faq-cont-icon"><i class="far fa-question"></i></div>
            <h4>What is "Instagram impressions"?</h4>
            <p>Impression means reach (also how many users have seen your post) it is mostly used with brands, they will ask you to show them statistic of the impressions your posts have.</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq14">
            <div class="faq-cont-icon"><i class="far fa-question"></i></div>
            <h4>The link must be added before the user goes live or after?</h4>
            <p>After he goes live, or just 5 second before he goes!</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq15">
            <div class="faq-cont-icon"><i class="far fa-question"></i></div>
            <h4>How much time does my order need to complete?</h4>
            <p>It depends on the Updates, also all information are written in the descriptions box below each service.</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq16">
            <div class="faq-cont-icon"><i class="far fa-question"></i></div>
            <h4>What is "Instagram Saves", and what does it do?</h4>
            <p>Instagram Saves is when a user saves a post to his history on Instagram (by pressing the save button near the like button). A lot of saves for a post increase its impression.</p>
        </div>
    </div>
    </div>
    
    </div>
      </div>
    </div>
  </div>











































{% include 'footer.twig' %}